html {
	/*display: block;*/
	height: 100%;
}

body {
	margin: 0;
}


/*top样式*/

.div-top {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: #000000;
	box-shadow: 2px 2px 10px #888888;
}


/*bottom样式*/

.div-bottom {
	position: fixed;
	bottom: 0;
	left: 0px;
	width: 100%;
	height: 40px;
	background-color: #F0F0EE;
	box-shadow: 2px 2px 10px #888888;
}

.div-bottom>p {
	text-align: center;
	padding-top: 10px;
	color: #000000;
}


/*左侧导航样式*/

.div-left-nav {
	position: fixed;
	top: 50px;
	bottom: 40px;
	width: 200px;
	background-color: #393D49;
}


/*导航栏title*/

.nav-title {
	top: 50px;
	height: 100px;
	width: 200px;
}


/*导航栏菜单*/

.nav {
	position: absolute;
	top: 100px;
	height: auto;
	width: 220px;
	bottom: 15px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
}


/*去除ul前的小黑点与空格*/

.ul-menu {
	margin: 0;
	padding: 0;
	bottom: 40px;
	list-style: none;
}

.li-ul-menu {
	display: none;
	margin: 0;
	padding: 0;
	bottom: 40px;
	list-style: none;
}

.li-nav-item {
	display: block;
	width: 200px;
	height: 40px;
}


/*隐藏菜单*/

.hide {
	display: none;
}


/*显示菜单*/

.show {
	display: block;
}


/*划过菜单时的样式*/

li:hover {
	background-color: #808080;
}


/*选中菜单时的样式*/

li>a:focus {
	background-color: #008CBA;
}


/*a标签样式*/

li>a {
	display: block;
	width: 200px;
	height: 40px;
	padding-left: 30px;
	padding-top: 8px;
}


/*去除a标签下划线*/

a:link {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}

a:active {
	cursor: pointer;
}

a>cite {
	font-style: normal;
	font-size: 17px;
	text-align: center;
}


/*右侧内容样式*/

.div-right-content {
	position: absolute;
	top: 50px;
	bottom: 40px;
	left: 200px;
	right: 0px;
	border: 0px;
	background-color: #FFFFFF;
}

iframe {
	position: absolute;
	border: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}


/*p标签样式*/

p {
	color: #FFFFFF;
}

/*表格工具栏p标签样式*/
p.toolbar-p{
	color: #555555;
	padding: 0;
	margin: 0;
}

p.lyq-title {
	padding-top: 9px;
	padding-left: 25px;
	font-size: 20px;
}


/*菜单打开关闭时的图标样式*/

.menu-icon {
	position: relative;
	top: 2px;
	left: 40px;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
}

.span-close:before {
	content: "\e251";
}

.span-open:before {
	content: "\e252";
}

